{{ 'section-centered-media.css' |  asset_url |  stylesheet_tag }}

<div class="centered-media">
    <div class="centered-media__cell">
      <img src="{{ section.settings.image | image_url: width: 1920 }}" alt="">

      <div class="centered-media__credit">
        {{ section.settings.credit }}
      </div>

      {%- if section.settings.details != blank %}
        <div class="centered-media__details">
          {{ section.settings.details }}
        </div>
      {%- endif %}

    </div>
</div>

{% schema %}
{
    "name": "Centered Media",
    "tag": "section",
    "class": "section-centered-media",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "richtext",
            "id": "credit",
            "label": "Credit"
        },
        {
            "type": "richtext",
            "id": "details",
            "label": "Details"
        }
    ],
    "presets": [
        {
            "name": "Centered Media"
        }
    ]
}
{% endschema %}