{{ 'section-fullwidth-with-text.css' |  asset_url |  stylesheet_tag }}

<div class="fullwidth-text">
    <div class="fullwidth-text__cell">
      <img src="{{ section.settings.image | image_url: width: 1920 }}" alt="">

      <h2 class="fullwidth-text__title t-h3">{{ section.settings.title }}</h2>

      <div class="fullwidth-text__credit">
        {{ section.settings.credit }}
      </div>
    </div>
</div>

{% schema %}
{
    "name": "Fullwidth with Text",
    "tag": "section",
    "class": "section-fullwidth-text",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "credit",
            "label": "Credit"
        }
    ],
    "presets": [
        {
            "name": "Fullwidth with Text"
        }
    ]
}
{% endschema %}