{{ 'section-general-content.css' |  asset_url |  stylesheet_tag }}

<div class="general-content general-content--{{ section.settings.style }}">
    <div class="page-width">
        {% if section.settings.title %}
            <h2 class="general-content__heading{% if section.settings.style == "style1" %} t-h6{% else %} t-h3{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">{{ section.settings.title }}</h2>
        {% endif %}
        {% if section.settings.content %}
            <div class="general-content__content{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {{ section.settings.content }}
            </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "General Content",
    "tag": "section",
    "class": "section-general-content",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        },
        {
            "type": "select",
            "id": "style",
            "label": "Style",
            "options": [
                {
                    "value": "style1",
                    "label": "Style 1"
                },
                {
                    "value": "style2",
                    "label": "Style 2"
                }
            ],
            "default": "style1"
        }
    ],
    "presets": [
        {
            "name": "General Content"
        }
    ]
}
{% endschema %}