:root {
  --font-body-family: 'Tiempos', sans-serif;
  --font-heading-family: 'Store Norske Ja Trial', sans-serif;
  --gutter: 20px;
  --page-width: 100%;
}

@media only screen and (min-width: 769px) {
  :root {
    --gutter: 40px;
  }
}

body {
  color: var(--color-foreground);
}

*:focus-visible {
  box-shadow: none;
  outline: none;
}

.bg-cover img,
.bg-cover video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  appearance: none;
  padding: 3px 10px;
  font: 600 12px/1.5 var(--font-heading-family);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 1px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.btn--primary {
  background-color: #fff;
  color: #000;
}
.btn--primary:hover {
  background-color: #000;
  color: #fff;
}
.btn--secondary {
  background-color: #000;
  color: #fff;
}
.btn--secondary:hover {
  background-color: #fff;
  color: #000;
}
.btn--yellow {
  background-color: #FFCC8B;
  color: #000;
}
.btn--yellow:hover {
  background-color: #000;
  color: #fff;
}

.button {
  padding: 3px 10px !important;
  min-height: auto !important;
  font: 600 12px/1.5 var(--font-heading-family) !important;
  letter-spacing: 1.2px !important;
  text-transform: uppercase !important;
}
@media only screen and (min-width: 769px) {
  .button {
    font-size: 15px !important;
  }
}

.page-width {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

/* Announcement Bar */
.announcement-bar__message {
  font-weight: 600;
}

/* Header */
.header {
  padding: 20px var(--gutter) !important;
  max-width: 100%;
}
.header .header__heading-logo-wrapper img {
  max-width: 36px;
}
.header__menu-item {
  font: 600 12px/1.5 var(--font-heading-family);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (min-width: 990px) {
  .header--middle-left {
      grid-template-columns: auto 1fr auto;
  }
  .header--middle-left .header__inline-menu {
      display: flex;
  }
  .header--middle-left .header__inline-menu ul {
      margin-left: auto;
  }
}

.t-h2,
.t-h3 {
  font: 400 18px/1.5 var(--font-body-family);
}
.t-h6 {
  font: 600 12px/1.5 var(--font-heading-family);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 769px) {
  .t-h2 {
    font-size: 32px;
  }
  .t-h3 {
    font-size: 24px;
  }
  .t-h6 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .t-h2 {
    font-size: 48px;
  }
  .t-h3 {
    font-size: 35px;
  }
}

/* Flickity */
.shopify-section .flickity-page-dots .dot {
  position: relative;
  margin: 0 4px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 1;
  transition: all .3s ease-in-out;
}
.shopify-section .flickity-page-dots .dot::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
}
.shopify-section .flickity-page-dots .dot.is-selected::after {
  opacity: 1;
}

/* Collection */
.collection__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collection .card__heading {
  font: 600 10px/1.5 var(--font-heading-family);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .collection__title h2 {
    margin-bottom: 0;
  }
  .collection__view-all a:not(.link) {
    margin-top: 0;
  }
  .collection .card__heading {
    font-size: 15px;
  }
}

/* Header */
.menu-open .header-wrapper,
.menu-open .menu-drawer{
  background: #FFCC8B;
}
.header .menu-drawer__navigation {
  padding: 0;
}
.header .menu-drawer__menu li:not(:last-child) {
  margin-bottom: 15px;
}
.header .menu-drawer__menu-item {
  padding: 0 var(--gutter);
  font: 700 15px var(--font-heading-family);
  text-transform: uppercase;
}
.js .header .menu-drawer__submenu {
  position: static;
  margin-top: 15px;
  transform: translate(0) !important;
  visibility: visible !important;
  background: #ffcc8b;
}
.js .header .menu-drawer__submenu .menu-drawer__inner-submenu {
  height: auto;
  overflow: auto;
}
.js .header .menu-drawer__submenu .menu-drawer__menu-item {
  font-weight: 400;
}

/* Default page */
.main-page-title {
  text-align: center;
}
.main-page-content {
  font: 400 12px/15px var(--font-heading-family);
}
@media screen and (min-width: 769px) {
  .main-page-content {
    font-size: 15px;
    line-height: 20px;
  } 
}

/* PDP Page */
.product__title h1,
.product__info-container .price__container {
  font: 400 22px/24px var(--font-body-family);
}
fieldset.product-form__input .form__label,
.swatches .swatch-label .swatch-option-name,
.swatches .swatch-label .swatch-variant-name {
  font: 500 12px/18px var(--font-heading-family);
  text-transform: uppercase;
}
.swatches .swatch-label .swatch-variant-name {
  font-weight: 400;
  font-style: italic;
  font-family: var(--font-body-family);
}
.product__info-container .product-form__buttons {
  max-width: 100% !important;
}
.product__info-container .product-form__buttons .product-form__submit {
  padding: 5px 10px;
  min-height: auto;
  font: 600 12px/14px var(--font-heading-family);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #FFCC8B;
  color: #000;
  border: none;
  border-radius: 1px;
}
.product__info-container .product-form__buttons .product-form__submit:hover {
  background-color: #000;
  color: #fff;
}
.product__info-container .product-form__buttons .product-form__submit::before,
.product__info-container .product-form__buttons .product-form__submit::after {
  content: none;
}
.product__info-container .product__description p {
  display: flex;
  font: 400 12px/18px var(--font-heading-family);
  align-items: flex-start;
}
.product__info-container .product__description p img {
  margin-bottom: 0;
  margin-right: 10px;
  flex: 0 0 24px;
  width: 24px;
  border: none;
}
.product__summary {
  font: 400 22px/24px var(--font-body-family);
}
.product__info-container .swatches div[option-name=Size] .swatch-button {
  min-width: auto;
  border-radius: 50%;
}
.product__info-container .swatches div[option-name=Size] .swatch-button-title-text {
  display: flex;
  padding: 0 !important;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  font: 400 20px/1 var(--font-heading-family);
}

@media only screen and (min-width: 768px) {
  .product__title h1,
  .product__info-container .price__container {
    font-size: 40px;
    line-height: 45px;
  }
  fieldset.product-form__input .form__label,
  .swatches .swatch-label .swatch-option-name,
  .swatches .swatch-label .swatch-variant-name {
    font-size: 20px;
    line-height: 1;
  }
  .product__info-container .product-form__buttons .product-form__submit {
    font-size: 18px;
    line-height: 32px;
    padding: 7px !important;
  }
  .product__info-container .product__description {
    margin-top: 50px;
  }
  .product__info-container .product__description p {
    font-size: 20px;
    line-height: 24px;
  }
  .product__summary {
    font-size: 30px;
    line-height: 35px;
  }
}
@media only screen and (min-width: 990px) {
  .product--stacked .product__media-item {
    max-width: 100% !important;
    width: 100% !important;
  }
}

/* Collection */
.collection .product-grid .product-card-wrapper .card__inner {
  --ratio-percent: 74% !important;
}
.collection-hero.collection-hero--with-image {
  padding: 0;
}
.collection-hero__image-container {
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
  width: calc(100% + var(--gutter) * 2);
}
.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 0 !important;
  text-align: left !important;
}
@media only screen and (max-width: 768px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    margin-top: 20px;
  }
  .collection-hero__inner {
    margin-top: 30px;
    flex-direction: column-reverse !important;
    align-items: flex-start !important;
  }
}
@media only screen and (min-width: 769px) {
  .collection-hero__image-container {
    display: none;
  }
}

.section-general-content:first-child .general-content {
  margin: 0;
}