.grid-hover {
  margin: 20px 0;
  text-align: center;
}

.grid-hover__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-hover__item {
  aspect-ratio: 1;
  position: relative;
}

.grid-hover__item-heading {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 5%;
  width: 90%;
  text-align: center;
  transform: translateY(-50%);
  z-index: 10;
}
