.story-carousel {
  position: relative;
  padding: 20px 20px 60px;
  background-color: #ffcc8b;
}

.story-carousel__title {
  position: absolute;
  top: 0;
  left: 0;
}

.story-carousel__carousel__container {
  position: relative;
}

.story-carousel__item {
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.story-carousel__item__image {
  width: 70%;
}

.story-carousel__item__content {
  width: 30%;
}
