.story-carousel {
  position: relative;
  padding: 20px 20px 60px;
  background-color: #FFCC8B;
}
.story-carousel__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.story-carousel__item__content h4 {
  margin-top: 0;
  margin-bottom: 12px;
  font: 400 24px/1 var(--font-heading-family);
}
.story-carousel__item__content h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font: 400 18px/20px var(--font-body-family);
}
.story-carousel__item__content p {
  font: 400 15px/17px var(--font-heading-family);
}
@media only screen and (max-width: 768px) {
  .story-carousel__item__content h4 {
    display: none;
  }
  .story-carousel__item__content .btn {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .story-carousel {
    padding: 20px 0;
  }
  .story-carousel__title {
    position: absolute;
    top: 20px;
    left: 50px;
    pointer-events: none;
    z-index: 1;
  }
  .story-carousel__carousel {
    margin-left: 200px;
  }
  .story-carousel__carousel__container:not(.flickity-enabled) {
    display: flex;
  }
  .story-carousel__item {
    display: flex;
    margin-right: 30px;
    width: calc(50% - 30px);
    height: 100%;
  }
  .story-carousel__item__content {
    flex: 0 0 320px;
    margin-left: 35px;
  }
  .story-carousel__item__content h3 {
    margin-bottom: 30px;
    font-size: 35px;
    line-height: 40px;
  }
  .story-carousel__item__content p {
    margin-bottom: 15px;
  }
}