.centered-media {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

.centered-media__cell {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.centered-media__cell img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.centered-media__credit {
  margin-left: 10px;
  margin-top: 10px;
  font-family: var(--font-heading-family);
  opacity: .5;
  font-size: 1.3rem;
  line-height: 1.2;
}

.centered-media__details {
  margin: 80px auto 0 auto;
  font-size: 2rem;
  text-align: center;
  width: 80%;
  max-width: 515px;
}

.centered-media__details h1, .centered-media__details h2, .centered-media__details h3 {
  font-family: var(--font-body-family);
}

.centered-media__details h2 {
    font-size: 4rem;
    line-height: 1.2;
}

.centered-media__details p {
    font-size: 1.4rem;
    line-height: 1.6;
    font-family: var(--font-heading-family);
    text-align: left;
    margin-bottom: 20px;
}

.centered-media__details p:last-child {
  margin-bottom: 0;
}