.content-image {
  margin: 20px 0;
}

.content-image.content-image--icon {
  margin: 0;
}
.content-image__image {
  margin-bottom: 16px;
  height: 270px;
}
.content-image--icon .content-image__image {
  margin-bottom: 0;
}
.content-image__icon {
  margin-bottom: 20px;
  text-align: center;
}
.content-image__icon img {
  margin: 0 auto;
}
.content-image__title {
  margin-top: 0;
  margin-bottom: 20px;
}
.content-image__copy {
  font: 400 15px/20px var(--font-heading-family);
}
.content-image--icon .content-image__content {
  padding: 80px var(--gutter);
  text-align: center;
}
.content-image--icon .page-width {
  padding: 0;
}


@media screen and (min-width: 769px) {
  .content-image--full .page-width {
    padding: 0;
    max-height: 580px;
  }
  .content-image--full .page-width img {
    max-height: 580px;
  }
  .content-image--full .content-image__inner {
    padding-left: 10%;
    max-width: 80%;
  }
  .content-image {
    margin: 0;
  }

  .content-image--general {
    margin: 0 40px;
  }

  .content-image--centered {
    margin: 0 auto;
    width: 60%;
  }
  
  .content-image__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0;
  }
  .content-image--icon .page-width {
    grid-gap: 0;
  }
  .content-image__image {
    margin-bottom: 0;
    height: 100%;
    min-height: 645px;
  }
  .content-image__inner {
    max-width: 485px;
  }
  .content-image--left .content-image__inner {
    margin-left: auto;
  }
  .content-image--right .content-image__image {
    order: 1;
  }
  .content-image__icon {
    margin-bottom: 30px;
  }
  .content-image--icon .content-image__content {
    padding: 150px 0;
  }
  .content-image--icon .content-image__inner {
    margin: 0 auto;
    max-width: 300px;
  }

  .content-image__content.align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content-image__content.align_center h2 {
    font-size: 4rem;
    line-height: 1.2;
  }

  .content-image__content.align_center p {
    font-size: 2.5rem;
    line-height: 1.4;
  }
  
}