.grid-hover {
  margin: 20px 0 80px 0;
  text-align: center;
}

.grid-hover__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    width: 100%;
}

.grid-hover__item {
  aspect-ratio: 16/9;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-hover__media_wrap {
  position: relative;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.grid-hover__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-hover__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity .3s;
}

.grid-hover-mobile__item-content {
  display: none;
}

.grid-hover__info {
  color: #fff;
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  width: 90%;
}

.grid-hover__info p {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  line-height: 1.6;
}

.grid-hover__info p.t-h2 {
  font-size: 4.4rem;
  line-height: 1.2;
  font-family: var(--font-body-family);
}

.grid-hover__info .grid-hover__item-content {
  position: absolute;
  left: 50%;
  max-width: 400px;
  margin: 10px auto 0 auto;
  opacity: 0;
  transform: translateX(-50%) translateY(2rem);
  transition: opacity .3s, transform .3s;
}

.grid-hover__info .grid-over__item-content p {
    font-size: 1.7rem;
    line-height: 1.6;
}

.grid-hover__item:hover::after {
  opacity: 1;
}

.grid-hover__item:hover .grid-hover__item-content {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

@media all and (max-width: 932px) and (orientation: portrait) {
  .grid-hover__grid {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .grid-hover__item {
    margin-bottom: 30px;
    width: 90vw;
    aspect-ratio: 4/3;
  }

  .grid-hover__item:last-child {
    margin-bottom: 0;
  }

  .grid-hover__item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-hover__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 1;
    opacity: 1;
    display: none;
  }

  .grid-hover__info p.t-h2 {
    font-size: 2.6rem;
    font-family: var(--font-body-family);
    margin-bottom: 0;
  }

  .grid-hover__info p {
    font-size: 1.3rem;
  }

  .grid-hover__info .grid-hover__item-content {
    display: none;
    position: relative;
    left: auto;
    transform: unset !important;
    opacity: 1;
    max-width: unset;
    width: 100%;
    margin: 0 auto;
  }

  .grid-hover-mobile__item-content {
    display: block;
    font-size: 1.3rem;
    font-family: var(--font-heading-family);
    text-align: left;
  }
  
}
