.fullwidth-text {
  position: relative;
  width: 100%;
}

.fullwidth-text__cell {
  position: relative;
  margin-bottom: 5rem;
}

.fullwidth-text__inner {
  position: relative;
  width: 100%;
}

.fullwidth-text__cell img {
  display: block;
  width: 100%;
  height: auto;
}

.fullwidth-text__title {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 900px;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 5rem;
  font-style: italic;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.fullwidth-text__credit {
  margin-left: 5%;
  margin-top: 10px;
  font-family: var(--font-heading-family);
  opacity: .5;
  font-size: 1.3rem;
}

@media all and (max-width: 932px) and (orientation: portrait) {
  .fullwidth-text__title {
    font-size: 3.5rem;
  }
}