.content-image {
  margin: 20px 0;
}

.content-image.margin-bottom__yes {
  margin-bottom: 80px;
}

.content-image__image img.rounded_yes, .content-image__image video.rounded_yes {
  border-radius: 5px;
}

.content-image__credit {
  margin-left: 10px;
  margin-top: 10px;
  font-family: var(--font-heading-family);
  opacity: .5;
  font-size: 1.3rem;
  line-height: 1.2;
}

.content-image.content-image--icon {
  margin: 0;
}
.content-image__image {
  margin-bottom: 16px;
  height: 270px;
}
.content-image--icon .content-image__image {
  margin-bottom: 0;
}
.content-image__icon {
  margin-bottom: 20px;
  text-align: center;
}
.content-image__icon img {
  margin: 0 auto;
  width: 50px;
  height: auto;
}
.content-image__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.content-image__title span.trademark {
  font-size: 8px;
}

.content-image__copy {
    font-size: 1.7rem;
    line-height: 1.6;
  font-family: var(--font-heading-family);
}
.content-image--icon .content-image__content {
  padding: 80px var(--gutter);
  text-align: center;
}
.content-image--icon .page-width {
  padding: 0;
}


@media screen and (min-width: 769px) {
  .content-image--full .page-width {
    padding: 0;
    max-height: 580px;
  }
  .content-image--full .page-width img {
    max-height: 580px;
  }
  .content-image--full .content-image__inner {
    padding-left: 10%;
    max-width: 80%;
  }
  .content-image {
    margin: 0;
  }

  .content-image--general {
    margin: 0 40px;
  }

  .content-image--general .content-image__grid {
    height: 70vh;
  }

  .content-image--general .content-image__image {
    height: 70vh;
  }

  .content-image--general .content-image__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* CENTERED LAYOUT OVERRIDES */
  .content-image--centered {
    margin: 10% auto;
    width: 80%;
  }

  .content-image--centered .content-image__inner {
    max-width: unset;
    margin-left: 0;
    margin-right: auto;
  }

  .content-image--centered .content-image__grid {
    grid-template-columns: 40% 1fr;
    column-gap: 14rem;
  }

  .content-image--centered .content-image__image {
    min-height: 500px;
  }

  .content-image--centered .content-image__content.align_center h2 {
    font-family: var(--font-body-family);
    font-size: 3rem;
    line-height: 1.2;
    text-align: left;
  }

  .content-image--centered .content-image__content.align_center h3 {
    text-align: left;
  }

  .content-image--centered .content-image__content.align_center p {
    font-size: 1.7rem;
    line-height: 1.6;
    text-align: left;
  }

  /* NARROW LAYOUT OVERRIDES */
  .content-image--narrow {
    margin: 0 auto 15% auto;
    width: 70%;
  }

  .content-image--narrow .content-image__inner {
    max-width: unset;
  }

  .content-image--narrow .content-image__grid {
    grid-template-columns: 53% 1fr;
    column-gap: 7rem;
  }

  .content-image--narrow .content-image__image {
    min-height: 500px;
  }

  .content-image--narrow .content-image__content.align_center p {
    font-size: 1.7rem;
    line-height: 1.6;
    text-align: left;
  }
  
  .content-image__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0;
  }
  .content-image--icon .page-width {
    grid-gap: 0;
  }
  .content-image__image {
    margin-bottom: 0;
    height: 100%;
  }
  .content-image__inner {
    max-width: 485px;
  }
  .content-image--left .content-image__inner {
    margin: 0 auto;
  }
  .content-image--right .content-image__image {
    order: 1;
  }
  .content-image__icon {
    margin-bottom: 30px;
  }
  
  .content-image--icon .content-image__inner {
    margin: 0 auto;
    max-width: 420px;
  }

  .content-image__content.align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content-image__content.align_center h2 {
    font-size: 4rem;
    line-height: 1.2;
  }

  .content-image__content.align_center p {
    font-size: 2.5rem;
    line-height: 1.4;
  }
  
}

@media all and (max-width: 932px) and (orientation: portrait) {
  .content-image {
    width: 90%;
    margin: 0 auto !important;
  }

  .content-image--general .content-image__grid, .content-image--centered .content-image__grid {
    position: relative;
    margin-bottom: 60px;
  }

  .content-image.mobile-text--overlay .content-image__grid {
    margin-bottom: 20px;
  }

  .content-image .content-image__content .content-image__copy {
    font-size: 1.3rem;
  }

  .content-image.mobile-text--overlay .content-image__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    left: 5%;
    width: 90%;
    color: #fff;
    z-index: 2;
    padding: 0;
    background: transparent !important;
  }

  .content-image.mobile-text--overlay .content-image__content .content-image__title {
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.1;
  }

  .content-image.mobile-text--overlay .content-image__content .content-image__copy {
    font-size: 1.3rem;
  }

  .content-image.mobile-text--overlay .content-image__content .content-image__icon {
    margin-bottom: 0px;
  }

  .content-image.mobile-text--overlay .content-image__content .content-image__icon img {
    filter: invert(1);
    width: 25px;
    height: auto;
  }

  .content-image.mobile-text--overlay .content-image__image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 1;
  }

  .content-image .content-image__image:has(.content-image__credit) {
    margin-bottom: 70px;
  }

  .content-image--full {
    width: 100%;
  }

  .content-image--full .content-image__image {
    margin-bottom: 0;
  }

  .content-image--full .content-image__inner {
    padding: 5%;
  }
}