.story-carousel {
  position: relative;
  padding: 20px;
  background-color: #ffcc8b;
}

.story-carousel__title {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 10;
  margin: 0;
  font-size: 4rem;
}

.story-carousel .story_arrow_next {
  position: absolute;
  right: 40px;
  bottom: -50px;
  cursor: pointer;
  width: 30px;
  height: auto;
}

.story-carousel .story_arrow_next svg {
  width: 100%;
  height: auto;
}

.story-carousel__carousel__container {
  position: relative;
}

.story-carousel__item {
  position: relative;
  width: 50vw;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.story-carousel__item__image {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.story-carousel__item__content {
  width: 40%;
}

.story-carousel__item__content .inner {
  padding: 0 3rem;
}

.story-carousel__item__content .inner h4 {
 font-size: 1.6rem;
  margin: 0 0 0 0;
}

.story-carousel__item__content .inner h3 {
  font-family: var(--font-body-family);
  font-size: 2.6rem;
  margin: 0 0 0 0;
}

.story-carousel__item__content .inner p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: var(--font-heading-family);
}

.story-carousel__item__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-carousel__item:first-child .story-carousel__item__image img {
  width: 65%;
}

@media all and (max-width: 932px) and (orientation: portrait) {

  .story-carousel__title {
    left: 20px;
    font-size: 3rem;
  }
  
   .story-carousel__item {
      width: 100vw;
     height: 70vh;
      flex-direction: column;
     justify-content: flex-end;
   }

  .story-carousel__item__image {
    width: 100%;
    height: 40%;
    margin-top: 12%;
  }

  .story-carousel__item:first-child .story-carousel__item__image img {
    width: 100%;
  }

  .story-carousel__item__content {
    width: 100%;
    height: 50%;
  }

  .story-carousel__item__content .inner {
    padding: 3rem;
  }

  .story-carousel .story_arrow_next {
    right: 20px;
    bottom: 20px;
  }
  
}

